.headerContainer {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #FFF;
  .homeBtn {
    padding: 8px 20px;
    background: #000;
    font-family: Verdana, Arial, Sans-Serif;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:hover {
      background: #c33;
    }
    & > img {
      width: 20px;
      margin-right: 5px;
    }
  }
  .menuContainer {
    display: flex;
    .menuItem {
      padding: 8px 15px;
      margin: 0 5px;
      background: #555;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      &:hover {
        background: #c33;
      }
      & > img {
        width: 20px;
        margin-right: 2px;
      }
    }
  }
}
