.container {
  padding: 50px 10px 0 10px;
  min-height: 100vh;
  &.dark {
    .post {
      .title {
        color: #ffa7c4;
        border-left: 2px solid #ffa7c4;
        &:hover {
          color: #ed779e;
        }
      }
    }
  }
  .post {
    margin-top: 30px;
    .title {
      display: inline-block;
      color: #D23669;
      font-size: 24px;
      border-left: 2px solid #D23669;
      padding-left: 10px;
      cursor: pointer;
      &:hover {
        color: #c20a46;
      }
    }
    .time {
      color: #999;
      font-size: 14px;
      font-style: italic;
      padding-left: 10px;
    }
  }
}

@media (max-width: 768px) {
  .container .post .title {
    font-size: 20px;
  }
}
